select, input, input[type=number], button {
  display: block;
  width: 100%;
  border: 4px solid $item-default-color;
  background-color: $item-default-color;
  color: $text-color;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: $border-radius;
  cursor: pointer;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  color: darken($text-color, 30);
  background-color: $body-bg-color;
  border: 4px solid $body-bg-color;
}

button:hover {
  color: $text-color;
}

select:disabled, input:disabled, input[type=number]:disabled, button:disabled {
  background-color: darken($item-default-color, 5);
  border-color: darken($item-default-color, 5);
  opacity: .8;
}

select:not(:disabled):hover, input:not(:disabled):hover, button:not(:disabled):hover {
  border: 4px solid darken($item-default-color, 5);
  background-color: darken($item-default-color, 5);
}

.error > select {
  background-color: $error-color;
  border-color: $error-color;
  color: $error-text-color;
}

.error > select:hover {
  background-color: darken($error-color, 10);
  border-color: darken($error-color, 10);
}

.gem-type {
  color: lighten($text-color, 100);
}

select:disabled, input:disabled, button:disabled {
  cursor: not-allowed;
}