$body-bg-color: #212121;
$text-color: #cccccc;
$border-radius: 3px;

$default-color: #424242;
$error-color: #e57373;
$error-text-color: #000;

$item-header-color: #ffffff;
$item-default-color: #424242;
$item-craft-color: #ffb74d;
$item-craft-max-imbue-color: #81c785;
$item-drop-color: #4fc2f7;
$item-rog-color: #ab47bc;

$summary-label-color: #fff;
$summary-default-color: #424242;
$summary-value-color: #4fc2f7;
$summary-max-value-color: #81c785;
$summary-warning-color: #ffb74d;

